# Clock
set_io i_Clk 15

# UART
set_io i_UART_RX 73
set_io o_UART_TX 74

# LEDs
set_io o_LED[0] 56
set_io o_LED[1] 57
set_io o_LED[2] 59
set_io o_LED[3] 60

# Switches
set_io i_Switch[0] 53
set_io i_Switch[1] 51
set_io i_Switch[2] 54
set_io i_Switch[3] 52

# 7-Segment 1
set_io o_Segment1_A 3
set_io o_Segment1_B 4
set_io o_Segment1_C 93
set_io o_Segment1_D 91
set_io o_Segment1_E 90
set_io o_Segment1_F 1
set_io o_Segment1_G 2

# 7-Segment 2
set_io o_Segment2_A 100
set_io o_Segment2_B 99
set_io o_Segment2_C 97
set_io o_Segment2_D 95
set_io o_Segment2_E 94
set_io o_Segment2_F 8
set_io o_Segment2_G 96

# PMOD SPI Signals
set_io i_SPI_CS_n 65
set_io i_SPI_MOSI 64
set_io o_SPI_MISO 63
set_io i_SPI_SCLK 62